@{
    ViewBag.Title = "Index";
}

<div id="body-panel" class="body-panel feedbacks-panel">
    <!-- Start Body Panel -->
    <div class="wrapper">
        <div class="clearfix search-box-area pading-bottom-15">
            <div class="search-bar pull-left">
                <div class="input-group">
                    <input type="text" class="form-control search-box" name="x" placeholder="Search term...">
                    <div class="input-group-btn search-panel">
                        <select class="selectpicker" title="Category">
                            <option>Contains</option>
                            <option>It's equal</option>
                        </select>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="row">
                <div class="page-title col-md-24 col-sm-24 col-xs-24">
                    <h2 class="m_top_0">Feedback <span><a href="#">Browse Ideas</a></span></h2>
                </div>
                <div class="col-md-24 col-sm-24 col-xs-24">
                    <div class="row">
                        <div class="left-part col-md-14 col-sm-24 col-xs-24">
                            <div class="feedbacks_group">
                                <div class="feedbacks">
                                    <div class="title">I like it</div>
                                    <div class="votes">420 votes</div>
                                    <div class="comments"><a href="#">18 comments</a></div>
                                </div>
                                <div class="feedbacks">
                                    <div class="title">Rethink the design</div>
                                    <div class="votes">147 votes</div>
                                    <div class="comments"><a href="#">6 comments</a></div>
                                </div>
                                <div class="feedbacks">
                                    <div class="title">Put Less information on the home page</div>
                                    <div class="votes">147 votes</div>
                                    <div class="comments"><a href="#">6 comments</a></div>
                                </div>
                                <div class="feedbacks">
                                    <div class="title">I like it</div>
                                    <div class="votes">420 votes</div>
                                    <div class="comments"><a href="#">18 comments</a></div>
                                </div>
                                <div class="feedbacks">
                                    <div class="title">Rethink the design</div>
                                    <div class="votes">147 votes</div>
                                    <div class="comments"><a href="#">6 comments</a></div>
                                </div>
                                <div class="feedbacks">
                                    <div class="title">Put Less information on the home page</div>
                                    <div class="votes">147 votes</div>
                                    <div class="comments"><a href="#">6 comments</a></div>
                                </div>
                                <div class="feedbacks">
                                    <div class="title">Rethink the design</div>
                                    <div class="votes">147 votes</div>
                                    <div class="comments"><a href="#">6 comments</a></div>
                                </div>
                                <div class="feedbacks">
                                    <div class="title">Put Less information on the home page</div>
                                    <div class="votes">147 votes</div>
                                    <div class="comments"><a href="#">6 comments</a></div>
                                </div>
                            </div>
                            <div class="main_pagination clear">
                                <ul class="next_previous hidden-lg hidden-md hidden-sm">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true"><i class="fa fa-angle-left"></i>prev</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">next<i class="fa fa-angle-right"></i></span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="pagination hidden-xs">
                                    <li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li>
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                                        </a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <aside class="right-part col-md-10 col-sm-24 col-xs-24">
                            <figure class="widget feedbacks-form">
                                <div class="hed">Give Feedback</div>
                                <p>Post your idea in our Feedback forum so others can vote for it. If we find a similar idea to yours , you can vote for it instead.</p>
                                <div class="title">I suggest</div>
                                <form>
                                    <div class="input-box">
                                        <input type="text" class="text-field" placeholder="Enter a title to your idea">
                                    </div>
                                    <div class="input-box">
                                        <textarea class="text-area" rows="7" placeholder="Describe your idea ... ( optional )"></textarea>
                                    </div>
                                    <div class="input-box">
                                        <input type="text" class="text-field" placeholder="Your email address">
                                    </div>
                                    <div class="input-box">
                                        <input type="submit" name="button" id="button" value="submit the idea">
                                    </div>
                                </form>
                            </figure>
                            <figure class="widget add hidden-xs">
                                <div class="add-box">
                                    <span class="block text-uppercase text-center">advertising</span>
                                    <a class="block" href="#"><img src="~/ClientFiles/final%20html/images/advertisement-336x280.jpg" /></a>

                                </div>
                            </figure>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Body Panel -->
