@{
    ViewBag.Title = "Index";
}

<div id="benner-panel" class="benner-panel">
    <!--Start Benner Panel-->
    <div class="wrapper">
        <div class="display-table">
            <div class="table-cell">
                <div class="banner-content">
                    <h1>welcome to kriclick</h1>
                    <p>Find everything you are looking for and place 100% free ads.</p>
                </div>
            </div>
        </div>
    </div>
</div><!--End Benner Panel-->

<div id="body-panel" class="body-panel how-it-works">
    <!-- Start Body Panel -->
    <div class="works-panel">
        <div class="wrapper">
            <h1 class="main-title">how it works?</h1>
            <div class="works">
                <div class="row">
                    <div class="works-box col-md-8 col-sm-8 col-xs-24">
                        <div class="works-img"><img src="~/ClientFiles/final%20html/images/how-it-works-img1.png" alt=""></div>
                        <p>Fill out a simple posting form and post your ad completely free, and publish it.</p>
                    </div>
                    <div class="works-box col-md-8 col-sm-8 col-xs-24">
                        <div class="works-img"><img src="~/ClientFiles/final%20html/images/how-it-works-img2.png" alt=""></div>
                        <p>Kriclick will send your ad to all users subcribed to let them know about your ad and people who are interested in. </p>
                    </div>
                    <div class="works-box col-md-8 col-sm-8 col-xs-24">
                        <div class="works-img"><img src="~/ClientFiles/final%20html/images/how-it-works-img3.png" alt=""></div>
                        <p>Someone interested in your listing will contact you to make a deal about your item or service.</p>
                    </div>
                </div>
            </div>
            <div class="check-messages clearfix">
                <div class="mess-img col-md-13 col-sm-13 col-xs-24"><img src="~/ClientFiles/final%20html/images/check-messages-img.jpg" alt=""></div>
                <div class="mess-info col-md-11 col-sm-11 col-xs-24">
                    <h3>Where do I check my messages</h3>
                    <p>After you sign up and validate your account, go to your <a href="#">messages</a> page and you will see all your messages there.</p>
                    <p>Kriclick will also notify you when someone send you a new message.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="for-business-panel">
        <div class="wrapper">
            <h1 class="main-title">kriclick for business</h1>
            <div class="for-business clearfix">
                <div class="business-img col-md-13 col-sm-13 col-xs-24"><img src="~/ClientFiles/final%20html/images/for-business-img.jpg" alt=""></div>
                <div class="business-info col-md-11 col-sm-11 col-xs-24">
                    <h3>How Kriclick benefit your business</h3>
                    <p>Do not share any personal or credit card information to users, even if they are a company. If you see something suspecious, please <a href="#">report</a> it to Kriclick immediately. Get as much information as possible from the user before meeting them.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="comparision-panel">
        <div class="wrapper">
            <h1 class="main-title">Here is a comparision why posting on kriclick is more efficiency than paying for high cost advertising to promote your business.</h1>
            <div class="comparision">
                <div class="row">
                    <div class="comp-info col-md-12 col-sm-12 col-xs-24">
                        <h4 class="read-line">your website</h4>
                        <ul>
                            <li>Hosting</li>
                            <li>Advertising</li>
                            <li>Old Fashion look</li>
                            <li>No mobile friendly</li>
                        </ul>
                        <p>
                            Your aproximate cost per month <br>
                            <strong>$2,000</strong>
                        </p>
                    </div>
                    <div class="comp-info col-md-12 col-sm-12 col-xs-24">
                        <h4 class="green-line">kriclick</h4>
                        <ul>
                            <li>No Hosting Cost</li>
                            <li>No need to pay high advertising cost</li>
                            <li>A modern custom page</li>
                            <li>Mobile friendly site</li>
                        </ul>
                        <p>
                            Only at <br>
                            <strong>$29</strong>/ month
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Body Panel -->
