@{
    ViewBag.Title = "Register Confirmation";
    Layout = "~/Views/Shared/_LayoutWithoutFooter.cshtml";
}

@*<h2>AfterRegister</h2>*@

<div id="body-panel" class="body-panel verified-panel">
    <!-- Start Body Panel -->
    <div class="wrapper">
        <div class="email-verified">
            <div class="m-category-title">
                <h1 class="c-case">
                    Thank you for Your Registration
                </h1>
            </div>
            <div class="verified-info">
                <!--<div class="verified-icon">
                    <i class="fa fa-check"></i>
                </div>-->
                <div class="verified-title">Your account has been created.</div>
                <div class="verified-text">
                    Thank you for registering with Kriclick. Your account has been created, and a verification email has been sent to your registered email address.<br>
                    Please click on the verification link included in the email to activate your account.
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Body Panel -->