<footer>
    <div id="footer-panel" class="footer-panel">
        <!--Start Footer Panel-->
        <div class="home-wrapper">



            <div class="footer-inner">
                <h5>
                    United States
                    <span class="hidden-lg hidden-md">Choose a location</span>
                    <span class="hidden-sm hidden-xs"><a data-toggle="collapse" href="#countryList" aria-expanded="false" aria-controls="countryList">Choose a location</a></span>
                </h5>
                <div class="collapse" id="countryList">
                    <div class="row clearfix country_list_wrapper hidden-sm hidden-xs">

                        <div class="col-lg-4 col-md-4 country_list">
                            <ul class="cb">
                                <li><a href="#">Alabama</a></li>
                                <li><a href="#">Alaska</a></li>
                                <li><a href="#">Arizona</a></li>
                                <li><a href="#">Arkansas</a></li>
                                <li><a href="#">California</a></li>
                                <li><a href="#">Colorado</a></li>
                                <li><a href="#">Connecticut</a></li>
                                <li><a href="#">Delaware</a></li>
                                <li><a href="#">District Of Columbia</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 country_list">
                            <ul class="cb ">
                                <li><a href="#">Florida</a></li>
                                <li><a href="#">Georgia</a></li>
                                <li><a href="#">Hawaii</a></li>
                                <li><a href="#">Idaho</a></li>
                                <li><a href="#">Illinois</a></li>
                                <li><a href="#">Indiana</a></li>
                                <li><a href="#">Iowa</a></li>
                                <li><a href="#">Kansas</a></li>
                                <li><a href="#">Kentucky</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 country_list">
                            <ul class="cb ">
                                <li><a href="#">Louisiana</a></li>
                                <li><a href="#">Maine</a></li>
                                <li><a href="#">Maryland</a></li>
                                <li><a href="#">Massachusetts</a></li>
                                <li><a href="#">Michigan</a></li>
                                <li><a href="#">Minnesota</a></li>
                                <li><a href="#">Mississippi</a></li>
                                <li><a href="#">Missouri</a></li>
                                <li><a href="#">Montana</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 country_list">
                            <ul class="cb ">
                                <li><a href="#">Nebraska</a></li>
                                <li><a href="#">Nevada</a></li>
                                <li><a href="#">New Hampshire</a></li>
                                <li><a href="#">New Jersey</a></li>
                                <li><a href="#">New Mexico</a></li>
                                <li><a href="#">New York</a></li>
                                <li><a href="#">North Carolina</a></li>
                                <li><a href="#">North Dakota</a></li>
                                <li><a href="#">Ohio</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 country_list">
                            <ul class="cb">
                                <li><a href="#">Oklahoma</a></li>
                                <li><a href="#">Oregon</a></li>
                                <li><a href="#">Pennsylvania</a></li>
                                <li><a href="#">Rhode Island</a></li>
                                <li><a href="#">South Carolina</a></li>
                                <li><a href="#">South Dakota</a></li>
                                <li><a href="#">Tennessee</a></li>
                                <li><a href="#">Texas</a></li>
                                <li><a href="#">Utah</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 country_list">
                            <ul class="cb ">
                                <li><a href="#">Vermont</a></li>
                                <li><a href="#">Virginia</a></li>
                                <li><a href="#">Washington</a></li>
                                <li><a href="#">West Virginia</a></li>
                                <li><a href="#">Wisconsin</a></li>
                                <li><a href="#">Wyoming</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row clearfix country_list_wrapper_mobile hidden-lg hidden-md">
                    <div class="col-xs-24">
                        <div class="input-group-btn search-panel">
                            <button aria-expanded="false" type="button" class="btn btn-default dropdown-toggle text-left" data-toggle="dropdown">
                                <span id="type-of-property" class="pull-left">Choose a location</span>
                                <span class="arrow-button pull-right"><i class="fa fa-angle-down"></i></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Alabama</a></li>
                                <li><a href="#">Alaska</a></li>
                                <li><a href="#">Arizona</a></li>
                                <li><a href="#">Arkansas</a></li>
                                <li><a href="#">California</a></li>
                                <li><a href="#">Colorado</a></li>
                                <li><a href="#">Connecticut</a></li>
                                <li><a href="#">Delaware</a></li>
                                <li><a href="#">District Of Columbia</a></li>
                                <li><a href="#">Florida</a></li>
                                <li><a href="#">Georgia</a></li>
                                <li><a href="#">Hawaii</a></li>
                                <li><a href="#">Idaho</a></li>
                                <li><a href="#">Illinois</a></li>
                                <li><a href="#">Indiana</a></li>
                                <li><a href="#">Iowa</a></li>
                                <li><a href="#">Kansas</a></li>
                                <li><a href="#">Kentucky</a></li>
                                <li><a href="#">Louisiana</a></li>
                                <li><a href="#">Maine</a></li>
                                <li><a href="#">Maryland</a></li>
                                <li><a href="#">Massachusetts</a></li>
                                <li><a href="#">Michigan</a></li>
                                <li><a href="#">Minnesota</a></li>
                                <li><a href="#">Mississippi</a></li>
                                <li><a href="#">Missouri</a></li>
                                <li><a href="#">Montana</a></li>
                                <li><a href="#">Nebraska</a></li>
                                <li><a href="#">Nevada</a></li>
                                <li><a href="#">New Hampshire</a></li>
                                <li><a href="#">New Jersey</a></li>
                                <li><a href="#">New Mexico</a></li>
                                <li><a href="#">New York</a></li>
                                <li><a href="#">North Carolina</a></li>
                                <li><a href="#">North Dakota</a></li>
                                <li><a href="#">Ohio</a></li>
                                <li><a href="#">Oklahoma</a></li>
                                <li><a href="#">Oregon</a></li>
                                <li><a href="#">Pennsylvania</a></li>
                                <li><a href="#">Rhode Island</a></li>
                                <li><a href="#">South Carolina</a></li>
                                <li><a href="#">South Dakota</a></li>
                                <li><a href="#">Tennessee</a></li>
                                <li><a href="#">Texas</a></li>
                                <li><a href="#">Utah</a></li>
                                <li><a href="#">Vermont</a></li>
                                <li><a href="#">Virginia</a></li>
                                <li><a href="#">Washington</a></li>
                                <li><a href="#">West Virginia</a></li>
                                <li><a href="#">Wisconsin</a></li>
                                <li><a href="#">Wyoming</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer_middle_menu_area clearfix">
                    @*<div class="footer_middle_menu">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Avoid Scams</a></li>
                            <li><a href="#">How it Works</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </div>*@
                    <div class="footer_middle_menu">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="../help" target="_blank">Help</a></li>
                            <li><a href="#">Avoid Scams</a></li>
                            <li><a href="../how-it-works" target="_blank">How it Works</a></li>
                            <li><a href="../feedbacks" target="_blank">Feedback</a></li>
                        </ul>
                    </div>
                    <div class="social-icons">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
                <div class="footer_bottom_menu_area">
                    <div class="footer_bottom_menu">
                        <ul>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <p class="copyright-text">&copy;2015 copyright | Kriclick.com</p>
                </div>
            </div>
        </div>
    </div><!--End Footer Panel-->

</footer>

